/* CSS Document */

* { outline: none }

body {
	background-image:url(images/mainBG.jpg);
	background-repeat:repeat-x;
	background-color:#bbaca5;
	padding:0;
	margin:0;
}

#pageContainer {
	width:820px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	padding:0;
	margin:0;
	position:relative;
}

#header {
	margin:0px;
	padding:0px;
}

#nav_Blog {
	position:absolute;
	top:74px;
	right:176px;
}

#nav_Movies {
	position:absolute;
	top:112px;
	right:176px;
}


#centerBG {
	width:820px;
	background-image:url(images/centerBG.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin:0px;
	padding:0px;
}

#leftContainer {
	width:462px;
	background-repeat:no-repeat;
	padding-left:36px;
	padding-top:52px;
	color:#d4d4d4;
	font-family:Arial, Helvetica, sans-serif;
	
}

#blogOptions {
	padding-top:160px;
	padding-left:42px;
}


#rightContainer {
	width:318px;
	background-repeat:no-repeat;
	float:right;
	padding-top:79px;
}

#getNowbtn {
	padding-left:32px;
}

.leftHR {
	padding-bottom:6px;
}

.rightHR {
	padding-top:4px;
	padding-bottom:8px;
}

h1 {
	color:#ebebeb;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

a.postLink {
	color:#faeac9;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}

a.postLink:hover {
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}

h2 {
	color:#898989;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

p {
	color:#d4d4d4;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

.blogCaption {
	color:#d4d4d4;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	line-height:20px;
	padding-top:8px;
}
	

#leftContainer p {
	color:#d4d4d4;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	line-height:20px;
	
}

.rssIcon {
	margin-top:2px;
	margin-right:4px;	
}

.blogOptionLink {
	margin-top:4px;
}


a.standardLink {
	color:#faeac9;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}

.standardLink:hover {
	color:#FFFFFF;
}

.dateText {
	color:#faeac9;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}

a.dateText:hover {
	color:#FFFFFF;
}

.footerShadowTop {
	width:820px;
	margin:0px;
	padding:0px;
	padding-top:32px;
}

.footerShadowBottom {
	width:820px;
	margin:0px;
	padding:0px;
	padding-bottom:20px;
}


#footer {
	background-image:url(images/footerBG.jpg);
	height:60px;
}

#footerLogo {
	padding-left:16px;
	width:112px;
}

#copyright {
	float:right;
	color:#a3a3a3;
	font-size:10px;
	text-align:left;
	width:660px;
	padding-right:20px;
	padding-top:10px;
}

.tradingCards {
	margin:0;
	padding:0;
}

.liText {
	float:right;
	width:418px;
	color:#ababab;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	line-height:20px;
	padding-bottom:15px;
}

.liTag {
	width:34px;
	height:12px;
	margin:0;
	padding:0;
	padding-top:3px;
}

.contentsUL {
	width:462px;
	margin:0;
	padding:0;
	text-align:left;
}

.bold {
	font-weight:bold;
}

ul {
	color:#ababab;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
	
}


li {
		margin:0;
		padding:0;
		padding-left:40px;
		padding-bottom:15px;
		background: url(images/arrow.gif) no-repeat 0px 3px;

}

.contentsQuote {
	color:#ababab;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	padding-left:20px;
	padding-right:20px;
	font-style:italic;
}

/* Movies */

#leftContainerMovies {
	padding-left:36px;
	padding-top:20px;
	width:485px;
	color:#d4d4d4;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}

#rightContainerMovies {
	width:259px;
	padding-right:36px;
	float:right;
	padding-top:20px;
}

#movieGrid {
	padding-left:31px;
	padding-top:20px;
	width:758px;
}

.movieThumb {
	margin:0;
	paddng:0;
	float:left;
	width:250px;
	padding-right:4px;
}

.movieThumb3 {
	float:left;
	width:250px;
	padding-bottom:8px;
}

.movieThumbTitle {
	padding-left:5px;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#6f6c67;
}

#movieOptions {
	padding-left:20px;

}

#otherMovies {
	padding-top:40px;
	padding-bottom:6px;
}

#videoShadow {
	margin-left:29px;
	margin-top:10px;
	padding-bottom:2px;
	width:768px;
	height:449;
	background-image:url(images/videoShadow.gif);
	background-repeat:no-repeat;
}

#videoContainer {
	margin-left:7px;
	padding-top:7px;
	padding-bottom:7px;
}

#langLinks {
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#595349;
	padding-left:36px;
}

#langSelect {
	color:#d4d4d4;
}

#toMovies {
	position:absolute;
	top:250px;
	right:36px;
	text-align:right;
}

#toSteam {
	float:right;
	text-align:right;
	padding-right:36px;
}

#classTitle {
	padding-top:40px;
	padding-bottom:10px;
	color:#d4d4d4;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#leftContainerProfile {
	padding-left:36px;
	width:470px;
	color:#d4d4d4;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}

#releaseDate {
	padding-top:10px;
	color:#747474;
}

#footerScout {
	width:820px;
	height:320px;
	background-image:url(images/footer_scout.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerSoldier {
	width:820px;
	height:320px;
	background-image:url(images/footer_soldier.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerDemoman {
	width:820px;
	height:320px;
	background-image:url(images/footer_demoman.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerEngineer {
	width:820px;
	height:320px;
	background-image:url(images/footer_engineer.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerHeavy {
	width:820px;
	height:320px;
	background-image:url(images/footer_heavy.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerSniper {
	width:820px;
	height:320px;
	background-image:url(images/footer_sniper.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerSandvich{
	width:820px;
	height:320px;
	background-image:url(images/footer_sandvich.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

#footerTrailer{
	width:820px;
	height:320px;
	background-image:url(images/footer_trailer.jpg);
	background-repeat:no-repeat;
	background-position:bottom
}

code {
  font-family: "Courier New", monospace;
  background-color: #d1b194;
  color: #24221f;
  padding: 1px 5px;
  border-radius: 3px;
}